@import '~node_modules/normalize.css/normalize';

html,
body {
	font-size: 100%;
	font-family: sans-serif;
}

.page {
	padding: 2em;
}

nav {
	margin-bottom: 1em;
}

.stars-container {
	display: flex;
	flex-wrap: wrap;
	border: 2px solid red;
	padding: 1em;
}

.stars-settings {
	display: flex;
}
